.incDecButton {
  border-radius: 50%;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  width: 40px;
  margin-right: 20px;
}

.medBackground {
  background-color: rgb(71, 216, 95);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.lowBackground {
  background-color: rgb(0, 174, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.highBackground {
  background-color: rgb(206, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
